{% extends 'main.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="label">


</div>


    <div class="card form" style="width: 60%;">
        Please enter your email and password!
        {% if error %}
        <span style="color: red;">
            Password or username is incorrect!
        </span>

        <h1>
            Login
        </h1>

        {% endif %}

        <form action="/login" method="post">
            {% csrf_token %}
            <input name="username" type="text" placeholder="username">
            <input name="password" type="password" placeholder="password">
            <input class="submit-btn" type="submit">
        </form>
        <p>Please, use the following form to log-in. If you don't have an account
            <a href="/register">
                Register
            </a>
        </p>
    </div>

{% endblock %}