<!DOCTYPE html>
{% load static %}


<html lang="en" dir="ltr">
<head>
    <title>
        {% block title %} MainPage
        {% endblock %}
    </title>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans&display=swap" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
</head>

<body>
    {% include 'header.html' with user=user %}
    <div id="app">
        {% block content %}

            <div class="card">
                {% if not is_exists %}
                    <form method="post" action="test/start">
                        <input class="start-btn" type="submit">
                    </form>
                {% else %}
                    <form method="post" action="test/continue">
                        <input class="start-btn" type="submit">
                    </form>
                {% endif %}
            </div>
    </div>

    {% endblock %}


</body>
</html>