<!DOCTYPE html>
{% load static %}


<html lang="en" dir="ltr">
<head>
    <title>
        {% block title %} MainPage
        {% endblock %}
    </title>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans&display=swap" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
</head>

<body>

    {% include 'header.html' with user=user %}
    <div id="app">
        {% block content %}

        <div class="card">
            <h3>
                Dashboard
            </h3>

            <p>
                Welcome to dashboard. You can make bookmarked image.
            </p>
        </div>

            {% endblock %}


    </div>
    {% include 'footer.html' %}
</body>

</html>